{% extends 'trojsten/layout/main.html' %}
{% load staticfiles sekizai_tags %}


{% block page_content %}
    <div id="plugin_prask_2_4_1/questions"></div>
    <div id="plugin_prask_2_4_1/submit"></div>

    {% addtoblock "js" %}
        {# @TODO: replace by minified versions #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js" type="text/javascript"></script>
        <script src="{% static "js/csrf_token.js" %}"></script>
        <script src="{% static "plugin_prask_2_4_1/js/lib/main.js" %}" type="text/javascript"></script>
    {% endaddtoblock %}

{% endblock %}
