<h3>Odovzdané súbory</h3>
{% if has_description %}
    <h4>Popis</h4>
    <table>
        {% for submit in description %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td>
                    {{ submit.filename }}
                </td>
                {% if submit.points == -1 %}
                <td>
                    ..
                </td>
                {% else %}
                <td>
                    {{ submit.points }}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if has_source %}
    <h4>Kód</h4>
    <table>
        {% for submit in source %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td>
                    {{ submit.filename }}
                </td>
                {% if submit.testing_status == 'in queue' %}
                <td>
                    {{ submit.testing_status }}
                </td>
                {% else %}
                <td>
                    {{ submit.tester_response }}
                </td>
                {% endif %}
                {% if submit.points == -1 %}
                <td>
                    ..
                </td>
                {% else %}
                <td>
                    {{ submit.points }}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
