<h3>{{ task }}</h1>
{% if has_description %}
    <h4>Popis</h4>
    <form enctype="multipart/form-data" method="post" action="{% url 'task_submit_post' task_id=task.id submit_type='description' %}">
        {% csrf_token %}
        {{ description_form.as_p }}
        <input type="submit" value="Submit" />
    </form>
{% endif %}
{% if has_source %}
    <h4>Kód</h4>
    <form enctype="multipart/form-data" method="post" action="{% url 'task_submit_post' task_id=task.id submit_type='source' %}">
        {% csrf_token %}
        {{ source_form.as_p }}
        <input type="submit" value="Submit" />
    </form>
{% endif %}

