{% extends "trojsten/layout/main.html" %}
{% load staticfiles submit_parts %}

{% block title %}Detaily submitu{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/prettify.css" %}" type="text/css" />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static "js/prettify/prettify.js" %}" type="text/javascript"></script>
<script>
    !function ($) {                                                                                           
       $(function(){
           window.prettyPrint && prettyPrint()
       })
    }(window.jQuery)
</script>
{% endblock %}

{% block page_header %}
<h1>Detaily submitu <small>{{ submit.protocol_id }}</small></h1>
{% endblock %}

{% block page_content %}
        {% if protocolReady %}
        {% if compileLogPresent %}
            <h4>Výstup z kompilátora</h4>
            <pre>{{ compileLog }}</pre>
        {% endif %}
        {% if have_tests %}
            <table>
                <thead>
                <tr>
                    <th>Vstup</th>
                    <th>Výsledok</th>
                    <th>Čas</th>
                </tr>
            </thead>
                <tbody>
            {% for test in tests %}
                <tr>
                    <td>{{ test.name }}</td>
                    <td>{{ test.result }}</td>
                    <td>{{ test.time }} ms</td>
                </tr>
                    {% if test.showDetails %}
                    <tr>
                        <td><pre>{{ test.details }}</pre></td>
                    </tr>
                    {% endif %}
                </tbody>
            {% endfor %}
        {% endif %}
    </table>
    {% else %}
        Program ešte nebol otestovaný
    {% endif %}
    <h3>Odovzdaný program</h3>
    {% if fileReady %}
        <pre class="prettyprint">{{ data }}</pre>
    {% else %}
        Zdrojový kód programu nie je dostupný
    {% endif %}
    {% show_submit_list submit.task submit.user %}
{% endblock %}
