.protocol-set {
    display: flex;
    overflow-x: scroll;
}

.protocol-result {
    font-weight: bold;
}

.protocol-time {
    font-size: 0.8em;
}

.protocol-set-name {
    font-size: 0.9em;
}

.protocol-set-result {
    font-size: 1em;
}

@media (min-width: 992px) {
    .protocol-set {
        flex-wrap: wrap;
        overflow-x: visible;
    }
}

.protocol-box {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 1px solid #f5f5f5;
    border: 1px solid #ddd;
    background: #fff;
}

.protocol-ok {
    background: #d6df75;
    border: 1px solid #d0da60;
}

.protocol-wa {
    background: #f6b8b2;
    border: 1px solid #f3a49b;
}

.protocol-tle {
    background: #f9d190;
    border: 1px solid #f8c778;
}

.protocol-ign {
    background: #f5f5f5;
}

.protocol-box[data-has-details=True] {
    cursor: pointer;
}
