{% extends "admin/review_base.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='people' %}">{% trans "People" %}</a>
    &rsaquo; <a href="{% url 'admin:people_user_changelist' %}">{% trans "Users" %}</a>
    &rsaquo; <a href="{% url 'admin:people_user_change' user.pk %}">{{ user }}</a>
    &rsaquo; {% trans 'Submitted tasks' %}
</div>
{% endblock %}

{% block content %}
<h1>{% trans "Tasks submitted by competitor" %} {{ user }}</h1>
{% blocktrans %}
You are viewing submits for round:
{% endblocktrans %}
<form method="post" action="{% url 'admin:submitted_tasks' user.pk round.pk%}"> {% csrf_token %}
    <table>
        <tr>
        <td> {{ roundform.as_p }} </td>
        <td> <input type="submit" text="Save" value="{% trans 'Change round' %}"/> </td>
        </tr>
    </table>
</form>
{% blocktrans %}
Check which tasks has the competitor sent. This form can't be used to delete submits of a user.
To delete some submits contact person who knows how to do so.
<br>
You can go down through the checkboxes using the tab-key and check the boxes with spacebar.
{% endblocktrans %}
<form method="post" action="{% url 'admin:submitted_tasks' user.pk round.pk%}"> {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" text="Save"/>
</form>

{% endblock %}
