{% extends "trojsten/layout/main.html" %}
{% load statements_parts %}
{% load archive_parts %}

{% block title %}Zadania{% endblock %}

{% block page_header %}
<h1>
    Zadania
    <small>
        {% if task.round.semester.competition.id == SUSI_COMPETITION_ID and task.round.number == SUSI_OUTDOOR_ROUND_NUMBER %}
            objavného
        {% else %}
            {{ round.number_str }}
        {% endif %}
        kola
        {{ round.semester.number }}. časti
        {{ round.semester.year }}. ročníka {{ round.semester.competition.name }}
        {% if not round.visible %}
            <span class="label label-danger">skryté</span>
        {% endif %}
    </small>
</h1>
{% endblock %}

{% block page_content %}
    {% show_progress round %}
    {% show_buttons round %}
    <h2>Zoznam úloh</h2>
    {% show_task_list round %}
    {% show_archive active_competition=round.semester.competition %}
    </div>
{% endblock %}
