{% extends "trojsten/layout/main.html" %}
{% load submit_parts %}
{% load statements_parts %}
{% load staticfiles %}
{% load utils %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/syntax_highlight.css" %}" type="text/css" />
{% endblock %}

{% block title %}{{ task.number }}. {{ task.name }}{% endblock %}

{% block page_header %}
<ul class="nav nav-pills">
  <li class="pull-left" id="article-title-li">
    <h1 id="article-title" class="task-name">{{ task.number }}. {{ task.name }}
    <small>
    {% for category in task.category.all %}
        <span class="label label-default category-{{ category }}">{{ category }}</span>
    {% endfor %}
    {% if not task.round.visible %}<span class="label label-danger">skryté</span>{% endif %}
    </small></h1>
  </li>
  <li class="pull-right">
    <a href="{% url 'task_list' round_id=task.round.id %}">
        <span class="glyphicon glyphicon-list"></span> Všetky úlohy
    </a>
  </li>
  {% is_organizer competition=task.round.semester.competition as is_organizer %}
  {% if is_organizer %}
      <li class="pull-right">
        <a href="{% url 'admin:review_task' task_pk=task.id %}">
            <span class="glyphicon glyphicon-check"></span> Opravovanie
        </a>
      </li>
  {% endif %}
</ul>
{% endblock %}

{% block page_content %}
    {% show_progress task.round %}
    {% if task.description_points > 0 or task.source_points > 0 %}
    <div class="well pull-right task-points">
        <strong>Počet bodov:</strong>
        {% if task.description_points > 0 %}
            <div class="points-item points-item-description">
                Popis:&nbsp; <span class="badge pull-right">{{ task.description_points }}b</span>
            </div>
        {% endif %}
        {% if task.source_points > 0 %}
            <div class="points-item points-item-description">
                Program:&nbsp; <span class="badge pull-right">{{ task.source_points }}b</span>
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="task-statement">
        {% if task_text %}
            {{ task_text|safe }}
        {% else %}
            <p class="lead">HTML zadanie nie je k dispozícii.</p>
        {% endif %}
    </div>
    <div class="task-submit">
    {% if task.get_submit_types|length > 0 %}
        <h2>Odovzdávanie</h2>
        {% if request.user.is_authenticated %}
        {% if not task.round.can_submit %}
        <div class="alert alert-warning" role="alert">
            Kolo už skončilo. Ďalšie submity sa už nerátajú do výsledkovky.
        </div>
        {% endif %}
        {% show_submit_form task request.user request.path %}
        {% show_submit_list task request.user %}
        {% else %}
        <p class="text-danger">Na odovzdávanie sa musíš prihlásiť</p>
        {% endif %}
    {% else %}
        <p class="text-danger">Tento príklad momentálne nemá možnosť odovzdávania.</p>
    {% endif %}
    </div>

    <h2>Otázky a diskusia</h2>
    <p>
       Po skončení kola budete mať príležitosť na diskutovanie o riešeniach
       v diskusii pod vzorovým riešením.
    </p>
{% endblock %}
