{% extends "trojsten/layout/main.html" %}
{% load sekizai_tags i18n wiki_tags %}{% load url from future %}

{% block title %}{% block wiki_pagetitle %}{% endblock %}{% endblock %}

{% block stylesheets %}
<link href="{{ STATIC_URL }}wiki/bootstrap/css/wiki-bootstrap.min.css" rel="stylesheet">
{{ block.super }}
{% endblock %}

{% block page_content %}
{% block wiki_body %}
{% if messages %}
  <!-- Messages for this instance -->
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<!-- Main page contents go here -->
{% block wiki_contents %}{% endblock %}
{% endblock %}
{% block wiki_footer_prepend %}
{% endblock %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{{ STATIC_URL }}wiki/js/core.js"></script>
<!-- Optionally enable responsive features in IE8 -->
{% endblock %}
