{% extends "trojsten/layout/main.html" %}
{% load sekizai_tags i18n wiki_tags %}
{% load staticfiles %}
{% block title %}{% block wiki_pagetitle %}{% endblock %}{% endblock %}

{% block stylesheets %}
{{ block.super }}
{% endblock %}

{% block page_content %}
{% block wiki_breadcrumbs %}{% endblock %}
{% block wiki_body %}
{% block wiki_contents %}{% endblock %}
{% endblock %}
{% block wiki_footer_prepend %}
{% endblock %}
{% endblock %}

{% addtoblock "js" %}
<script src={% static "wiki/js/core.js" %}></script>
{% endaddtoblock %}
