{% extends "admin/base_site.html" %}
{% load i18n utils admin_urls admin_static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}

{% block content %}

<h1>{% blocktrans %}Merge users {{ user }} and {{ candidate }}{% endblocktrans %}</h1>

<form  method="post">
{% csrf_token %}
{{ form.non_field_errors }}
<table>
{% for field in form %}
<tr>
    <td><label>{{ field.label }}:</label>{{ field.errors }}</td>
    {% for choice in field.field.choices %}
    <td><input type="radio" name="{{ field.name }}" value="{{ choice.0 }}" {% ifequal field.field.initial choice.0 %}checked{% endifequal %}/>{{ choice.1 }}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
<button type="submit" name="submit">{% trans 'Submit' %}</button>
<button type="reset" name="reset">{% trans 'Reset' %}</button>
</form>

{% endblock %}
