{% extends "trojsten/layout/main.html" %}
{% block title %}Branko{% endblock %}

{% block page_header %}
    <h1>Samo Chalupka - Branko</h1>
{% endblock %}

{% block page_content %}
<p><br>
Vo Zvolene zvony zvonia,<br>
za Zvolenom Branka honia:<br>
honia, honia durným honom<br>
po doline hore Hronom.<br>
<br>
„Prečože to, Branko, prečo:<br>
či si im zavinil niečo?“<br>
— „Majú oni do mňa vinu,<br>
ale ja mám do nich inú.<br>
<br>
Bulo dobre — ale dávno:<br>
žil na svete Slovák slávno;<br>
oj, žil si on vo slobode,<br>
ako ryba v tichej vode.<br>
<br>
Cudzí zbojom na nás padol,<br>
o vlasť našu nás okradol;<br>
došliapal nám naše práva,<br>
zašla rodu nášho sláva.<br>
<br>
Idú roky zo sta do sta,<br>
zem cudzinou nám zarostá;<br>
kto slovenskej pravde žije,<br>
pekelná ho krivda bije.<br>
<br>
A ja neraz v ťažkom bôli<br>
stál som na vysokej holi:<br>
stál som nad tým pekným krajom<br>
medzi Tatrou a Dunajom.<br>
<br>
To zem, dedom mojim vzatá,<br>
to vlasť a mať moja svatá:<br>
a ja sirotou tu stojím<br>
a vo svojom nie som svojím. —<br>
<br>
I plakali moje oči,<br>
že môj ľud mi je v otroči:<br>
i čakal som — ale darmo,<br>
kto by zlomil naše jarmo.“<br>
<br>
A v Bystrici zvony zvonia,<br>
za Bystricou Branka honia:<br>
honia, honia durným honom<br>
po doline hore Hronom.<br>
<br>
„Hojže, Branko! Nože ty mne —<br>
nože povedz mi úprimne:<br>
či sa ti krv nebúrila,<br>
keď ti krivda pravdu bila?“<br>
<br>
— „Hoj, búrila sa krv moja<br>
a hnala ma ta do boja:<br>
hnala ti ma ona, hnala,<br>
ta na hory, ta na bralá.<br>
<br>
A od Matry až na Tatry<br>
zasvietili moje vatry:<br>
kto ich videl, vedel, čo je,<br>
a poberal sa do zbroje.<br>
<br>
A z hôr a brál junač smelá,<br>
šabľu v pästi, vdol udrela.<br>
Deti slovenského rodu<br>
leteli v boj za slobodu. —<br>
<br>
Skvitli dobrí ako kvieťa,<br>
ked ho jarné dni osvieťa:<br>
zlí padali omarení,<br>
ako lísťa v čas jeseni.<br>
<br>
Bulo dobre — lež za málo;<br>
— Ako Boh dal, tak sa stalo. —<br>
Ľud môj, junač moja padla<br>
a nádeja tvoja zvädla.<br>
<br>
Zvädla — ale sa zotaví,<br>
a vykvitne kvetom slávy:<br>
dozrú raz i tvoje časy,<br>
príde víťaz, čo ťa spasí.“<br>
<br>
A na Brezne zvony zvonia,<br>
a za Breznom Branka honia:<br>
honia, honia, durným honom,<br>
po doline hore Hronom.<br>
<br>
A tamhore vyše mesta<br>
zarúbaná mocne cesta:<br>
bude ti tam, Branko, beda:<br>
tá záruba diaľ ti nedá. —<br>
<br>
A zlí zlé si našli rady:<br>
postávali poza klady,<br>
i padli naň zhora, zdola,<br>
ako vrany na sokola.<br>
<br>
Strelami ho postrieľali,<br>
šabľami ho porúbali,<br>
lež kým Branko hlavu sklonil,<br>
dvanástim on hlavy zronil. —<br>
<br>
„Hojže, bože! staň do súdu,<br>
prislúž pravdu môjmu ľudu:<br>
mňa zabila podlá zrada,<br>
slnko moje už zapadá.<br>
<br>
Pravde žil som, krivdu bil som,<br>
verne národ môj ľúbil som:<br>
to jediná moja vina,<br>
a okrem tej žiadna iná.<br>
<br>
A vy, bratia, tak urobte,<br>
berte šable, jamu kopte:<br>
jamu kopte dohlboka,<br>
hrob mi sypte dovysoka.<br>
<br>
Na hrob kameň mi vyvýšte,<br>
moje meno doň mi vpíšte:<br>
nech vie, kto sa naň podíva,<br>
že tam Branko odpočíva.“<br>
</p>
{% endblock %}
