{% load utils %}
<div class="clearfix">
{% if round.tasks_pdf_exists %}
<a class="btn-statements btn btn-sm col-md-2 col-sm-3 col-xs-12 btn-info" href="{% url 'view_pdf' round_id=round.id %}">PDF zadania</a>
{% endif %}
{% if round.solutions_pdf_exists %}
    {% is_organizer round.semester.competition as organizer %}
    {% if organizer or round.solutions_visible %}
        <a class="btn-statements btn btn-sm col-md-2 col-sm-3 col-xs-12 btn-info" href="{% url 'view_solutions_pdf' round_id=round.id %}">
            PDF vzoráky
            {% if not round.solutions_visible %}
                <span class="label label-danger" title="skryté"
                      data-toggle="tooltip" data-placement="top">
                    skr.
                </span>
            {% endif %}
        </a>
    {% endif %}
{% endif %}
<a class="btn-statements btn btn-sm col-md-2 col-sm-3 col-xs-12 btn-success" href="{% url 'round_submit_page' round_id=round.id %}">
    Odovzdaj riešenia
</a>

{% for results_tag in results_tags %}
<a class="btn-statements btn btn-sm col-md-2 col-sm-3 col-xs-12 btn-danger"
   href="{% url 'view_results' round_id=round.id tag_key=results_tag.key %}">
    Výsledky {{ results_tag.name }}
</a>
{% endfor %}
</div>
