{% load statements_parts sekizai_tags staticfiles i18n %}
{% if remaining.days >= 0 %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{% static 'js/roundprogressbar.js' %}">
    </script>
{% endaddtoblock %}
<div class="roundprogressbar" id="progressbar-{{ round.id }}" data-id="{{ round.id }}" data-precision="{{ remaining|progress_time_precision }}" data-isresults={{ results }}>
  <div class="row">
    {% if round.second_phase_running %}
      <div class="col-md-5"><em>{% trans "Submit programs until" %}: {{ end }}</em></div>
    {% else %}
      <div class="col-md-5"><em>{% trans "End of the round" %}: {{ end }}</em></div>
    {% endif %}
    <div class="col-md-7">
      <div class="progress">
        <div class="progress-bar {{ progressbar_class }}" role="progressbar"
             aria-valuenow="{{ elapsed.days }}" aria-valuemin="0"
             aria-valuemax="{{ full.days }}" style="width: {{ percent }}%;">
          {{ remaining|progress_time }}
        </div>
      </div>
    </div>
  </div>
  {% if round.second_phase_running %}
    <div class="alert alert-info">
      {% blocktrans %}
      Don't submit descriptions.
      You can still <strong>submit your programs</strong> and receive points for them.
      {% endblocktrans %}
    </div>
  {% endif %}
</div>
{% else %}
  {% if results %}
    <div class="alert alert-warning">{% trans "The results are preliminary." %}</div>
  {% else %}
  <div class="alert alert-info" role="alert">
        {% trans "The round has finished." %}
    {% if task and task.round.solutions_visible %}
        <a href="{% url 'solution_statement' task_id=task.id %}" class="alert-link">
        {% trans "View the solution." %}
        </a>
    {% endif %}
  </div>
  {% endif %}
{% endif %}
