{% for year, round_list in all_rounds.items %}
    <div class="table-responsive">
    <table class="table table-rounds">
      <thead>
        <tr>
          <th colspan="3" class="active">
            {{ year }}. ročník
          </th>
        </tr>
      </thead>
      <tbody>
      {% for round, result_tags in round_list %}
          <tr>
            <td>
              <a href="{% url 'task_list' round_id=round.id %}">
                {{ round.number }}. kolo
              </a>
              {% if not round.visible %}
                <span class="label label-danger">skryté</span>
              {% endif %}
            </td>
            <td>
              {{ round.semester.number }}. časť
            </td>
            <td style="text-align:right;">
              <a href="{% url 'task_list' round_id=round.id %}"  class="btn btn-primary btn-sm">
                Zadania a vzoráky
              </a>
              {% for tag in result_tags %}
                <a class="btn btn-danger btn-sm"
                   href="{% url 'view_results' round_id=round.id tag_key=tag.key %}">
                    Výsledky {{ tag.name }}
                </a>
              {% endfor %}
            </td>
          </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
{% empty %}
    <p>Ešte nie sú žiadne kolá.</p>
{% endfor %}
