.env
*.log
*.pot
*.py[co]
local_settings.py
media/*
version.txt

#nodejs
*/node_modules/*
npm-debug.log

# Vim-specific
.*.swp
Session.vim

# Sublime-specific
*.sublime-project
*.sublime-workspace

# PyLint
.pylintrc
