.env
*.log
*.pot
*.py[co]
local_settings.py
media/*
version.txt
.venv
.coverage

# locale
.mo

#nodejs
**/node_modules/**
npm-debug.log

# Vim-specific
.*.swp
Session.vim

# Sublime-specific
*.sublime-project
*.sublime-workspace

# PyLint
.pylintrc

# IntelliJ editors
*.idea
*.iml

# db dump
archiv.ksp.sk/*
