language: python
python:
  - "2.7"
  - "3.5"
env:
  - DJANGO_VERSION='>=1.11,<2'
matrix:
  include:
  - python: "3.5"
    env: TEST_PEP8=True
    install: pip install flake8
    script: flake8 trojsten

# command to install dependencies
install:
  - wget https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.6/elasticsearch-2.4.6.tar.gz
  - tar -xzf elasticsearch-2.4.6.tar.gz
  - ./elasticsearch-2.4.6/bin/elasticsearch &
  - if [[ $TRAVIS_PYTHON_VERSION != 2.7 ]]; then pip install --upgrade pip pip-tools social-auth-core; ./build_requirements.sh; fi  # TODO: remove social-auth-core workaround when it starts working.
  - pip install -r requirements.txt;
  - pip install -q "Django${DJANGO_VERSION}"
  - pip install -q coverage
  - pip install -q codeclimate-test-reporter
  - bash -c 'cd trojsten; python ../manage.py compilemessages;'

# command to run tests
script:
  - wget -q --waitretry=1 --retry-connrefused -T 10 -O - http://127.0.0.1:9200
  - coverage run --source='./trojsten' --omit 'trojsten/settings/*,trojsten/special/*' manage.py test
after_success:
  - bash <(curl -s https://codecov.io/bash) -t 1f124dcd-a10f-4773-90f7-6b5e304335ac
sudo: false
addons:
    code_climate:
        repo_token: a2d4a42a85b041da0c9d964e43de5a0bd632e7191ce66b262f6fdbe4fef83047
