celery<4.0.0
certifi==2015.04.28
czech_sort
django-bootstrap-form
django-bulk-update
django-classy-tags
django-contact-form
django-contrib-comments
django-cors-headers
django-countries
django-crispy-forms
django-dotenv
django-easy-select2
django-favicon
django-fluent-comments
django-haystack
django-import-export
django-jsonfield
django-mathfilters
django-model-utils
django-oauth-toolkit
django-recaptcha2
django-sekizai
django-sendfile
django-sortedm2m
django-threadedcomments
django-tips
django-trojsten-news
Django>=1.11,<2
djangorestframework
ecdsa
elasticsearch
fake-factory
first
ksp-login>=0.5
psycopg2>=2.7.3.1
pycrypto
pymdown-extensions<3.0
pytz
requests<=2.15
social-auth-app-django<2
Unidecode
wiki>=0.3,<0.4
