celery<4.0.0
django-bootstrap-form
django-bulk-update
django-classy-tags
django-contact-form
django-contrib-comments
django-cors-headers
django-crispy-forms
django-dotenv
django-easy-select2
django-favicon
-e git+https://github.com/edoburu/django-fluent-comments.git@ed53e646d559cdc062d0016734122328152aa98a#egg=django_fluent_comments
django-haystack
django-import-export
django-mathfilters
django-oauth-toolkit
django-sekizai
django-sendfile
django-sortedm2m
django-tips
django-trojsten-news
django-threadedcomments
Django<1.10
djangorestframework
ecdsa
elasticsearch
fake-factory
first
ksp-login>0.4
psycopg2
pycrypto
pymdown-extensions
python-social-auth>=0.2.21
pytz
Unidecode
wiki
