{% load bootstrap %}
{% load utils %}
{% load i18n %}

<div style="text-align: right">
    <div class="form-group">
        <label style="width: 100px">{{ category.label }}</label>
        <select id="naboj_category" style="width: 150px">
        {% for category in category.categories %}
            <option value="{{ category.value }}">{{ category.name }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label style="width: 100px">{% trans "Limit to first"%}</label>
        <input type="number" id="naboj_limit" style="width: 150px">
    </div>
    <button type="button" onclick="$(this).submit_request()">{% trans "Load"%}</button>
</div>


<script>
    (function ($) {

        function serialize_parameters() {
            let j = {
                'limit': document.getElementById('naboj_limit').value,
                'category': document.getElementById('naboj_category').value
            };
            return JSON.stringify(j);
        }

        $.fn.submit_request = function(){
            let xhr = new XMLHttpRequest();
            xhr.open("POST", './sources/Naboj/', true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var json = JSON.parse(xhr.responseText);
                    set_editor_content(JSON.stringify(json, undefined, 4));
                }
            };
            let data = serialize_parameters();
            xhr.send(data);
        }
    })(jQuery);
</script>