{% extends "trojsten/layout/main.html" %}

{% block page_header %}
<h1>Napíšte vývojárom</h1>
{% endblock %}

{% block page_content %}
  <p>Ak ste objavili chybu na stránke, budeme vďační, ak nám dáte vedieť.</p>
  <form method="post">{% csrf_token %}
    <p>Meno:</p>
    <p><input type="text" name="name"></p>
    <p>E-mail:</p>
    <p><input type="text" name="email"></p>
    <p>Správa:<p>
    <textarea name="body" rows="8" cols="70"></textarea></p>
    <input type="submit" value="Pošli">
  </form>
{% endblock %}