{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}

{% block content %}

<h1>{% blocktrans %}Merging {{user}}{% endblocktrans %}</h1>

<table>
    <tr>
        <th colspan="3">
            {% trans 'Merge candidates' %}:
        </th>
    </tr>
{% for candidate in merge_candidates %}
    <tr>
        <td>{{ candidate.pk }}</td>
        <td>{{ candidate }}</td>
        <td><a href="{% url 'duplicate_user_merge' user_id=user.pk candidate_id=candidate.pk %}">{% trans 'Merge' %}</a></td>

    </tr>
{% endfor %}
</table>
{% endblock %}
