{% extends "trojsten/layout/main.html" %}
{% load submit_parts %}
{% load statements_parts %}
{% load i18n %}

{% block title %}
    {% comment %}Translators: original: Odovzdávanie{% endcomment %}
    {% trans "Submitting" %}
{% endblock %}

{% block page_header %}
    {% comment %}Translators: original: Odovzdávanie{% endcomment %}
    <h1>{% trans "Submitting" %}</h1>
{% endblock %}

{% block page_content %}
    {% for round in rounds %}
        <h2>
            {{ round.series.competition }}
            <small>
                <a href="{% url 'task_list' round_id=round.id %}">{{ round }}</a>
                {% if not round.visible %}
                    <span class="label label-danger">
                        {% comment %}Translators: original: skryté{% endcomment %}
                        {% trans "hidden" %}
                    </span>
                {% endif %}
            </small>
        </h2>
        {% round_submit_form round=round %}
    {% empty %}
        <div class="alert alert-info">
            {% url 'archive' as url_archive %}
            {% comment %}Translators: original: Aktuálne nebeží žiadne kolo. Môžte si pozrieť úlohy niektorého z predošlých kôl v <a href="{{ url_archive }}" class="alert-link">archíve</a>.{% endcomment %}
            {% blocktrans %}
                There is no active contest now.
                You may see the previous problem statements in the <a href="{{ url_archive }}" class="alert-link">archives.</a>
            {% endblocktrans %}
        </div>
    {% endfor %}

{% endblock %}

