{% extends "trojsten/layout/main.html" %}
{% load staticfiles %}
{% load utils %}
{% load submit_parts %}
{% load i18n %}

{% block title %}{% trans 'My submitted tasks' %}{% endblock %}

{% block page_content %}
    <h1>{% trans 'My submitted tasks' %}</h1>
    <div>
        {% if competitions|length > 1 %}
            <!-- Nav tabs -->
            <ul class="nav nav-tabs settings-tabs" role="tablist">
                {% for competition in competitions %}
                    <li role="presentation" {% if forloop.counter == 1 %} class="active" {% endif %}><a
                            href="#{{ competition }}" aria-controls={{ competition }} role="tab"
                            data-toggle="tab">{{ competition }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="tab-content">
            {% for competition in competitions %}
                <div class="tab-pane fade{% if forloop.counter == 1 %} in active{% endif %}" id={{ competition }}>
                    {% show_submits_for_user_and_competition competition %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
