{% extends "trojsten/layout/main.html" %}
{% load submit_parts %}
{% load staticfiles %}
{% load utils %}
{% load i18n %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/syntax_highlight.css" %}" type="text/css" />
{% endblock %}

{% block title %}{% trans 'My submitted tasks' %}{% endblock %}

{% block page_content %}
    <h1 id="article-title" class="task-name">{% trans 'My submitted tasks' %}</h1>
    <div>
    {% if competitions|length > 1 %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs settings-tabs" role="tablist">
        {% for competition in competitions %}
            <li role="presentation" {% if forloop.counter == 1 %} class="active" {% endif %}><a href="#{{ competition }}" aria-controls={{ competition }} role="tab" data-toggle="tab">{{ competition }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
        <div class="tab-content">
            {% for competition in competitions %}
                {% if competitions|length > 1 %}
                <div role="tabpanel" class="tab-pane fade{% if forloop.counter == 1 %} in active{% endif %}" id={{ competition }}>
                {% endif %}
                    {% show_submits_for_user_and_competition competition %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
