{% load utils %}
{% if not submit.tested %}
<div class="alert alert-info">
    <span class="glyphicon glyphicon-refresh glyphicon-animate-rotate"></span>
    Tento program čaká na otestovanie
</div>
{% endif %}
{% if protocolReady %}
{% if compileLogPresent %}
    <h4>Výstup z kompilátora</h4>
    <pre>{{ compileLog }}</pre>
{% endif %}
{% if have_tests %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Vstup</th>
                <th>Výsledok</th>
                <th>Čas</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr class="{%if test.result == "OK" %}success{% elif test.result == "IGN" %}warning{% else %}danger{% endif %}">
                    <td>{{ test.name }}
                        {% if test.showDetails %}
                            <a data-toggle="collapse" href="#collapse{{ forloop.counter0 }}">Porovnanie výstupov</a>
                        {% endif %}
                    </td>
                    <td><span data-toggle="tooltip" data-placement="auto" title="{{ test.result }}">{{ submit_verbose_response|lookup:test.result }}</span></td>
                    <td>{{ test.time }} ms</td>
                </tr>

                    {% if test.showDetails %}
                <tr>
                <td colspan="3"  style="padding:0">
                    <div class="collapse" id="collapse{{ forloop.counter0 }}">
                        <pre>{{ test.details|linebreaksbr }}</pre>
                    </div>
                </td>
                </tr>
                   {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% else %}
    Protokol testovania nie je dostupný
{% endif %}
