{% load i18n %}

{% if not submit.tested %}
<div class="alert alert-info">
    <span class="glyphicon glyphicon-refresh glyphicon-animate-rotate"></span>
    {% comment %}Translators: original: Tento program čaká na otestovanie{% endcomment %}
    {% trans "This program is waiting for testing" %}
</div>
{% endif %}
{% if protocolReady %}
{% if compileLogPresent %}
    {% comment %}Translators: original: Výstup z kompilátora{% endcomment %}
    <h4>{% trans "Output from compiler" %}</h4>
    <pre>{{ compileLog }}</pre>
{% endif %}
{% if have_tests %}
<table>
    <thead>
        <tr>
            {% comment %}Translators: original: Vstup{% endcomment %}
            <th>{% trans "Input" %}</th>
            {% comment %}Translators: original: Výsledok{% endcomment %}
            <th>{% trans "Result" %}</th>
            {% comment %}Translators: original: Čas{% endcomment %}
            <th>{% trans "Time" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for test in tests %}
        <tr>
            <td>{{ test.name }}</td>
            <td>{{ test.result }}</td>
            <td>{{ test.time }} ms</td>
        </tr>
        {% if test.showDetails %}
        <tr>
            <td><pre>{{ test.details }}</pre></td>
        </tr>
        {% endif %}
    </tbody>
    {% endfor %}
{% endif %}
</table>
{% else %}
    {% comment %}Translators: original: Protokol testovania nie je dostupný{% endcomment %}
    {% trans "Protocol of testing is not available" %}
{% endif %}
