{% extends "trojsten/layout/main.html" %}
{% load submit_parts %}
{% load statements_parts %}

{% block title %}Odovzdávanie{% endblock %}

{% block page_header %}
<h1>Odovzdávanie <small><a href="{% url 'task_list' round_id=round.id %}">{{round}}</a></small></h1>
{% endblock %}

{% block page_content %}
    {% show_progress round%}
    {% for task in tasks %}
        <h2><a href="{% url 'task_statement' task_id=task.id %}">{{ task.number }}. {{task.name}}</a></h2>
        {% show_submit_form task request.path %}
        {% if task.has_submit_list %}
            <div>
                <a href="{% url 'task_submit_page' task_id=task.id %}">Zoznam submitov</a>
            </div>
        {% endif %}
        {% if task.get_submit_types|length == 0 %}
            <p class="text-danger">Tento príklad momentálne nemá možnosť odovzdávania.</p>
        {% endif %}
    {% endfor %}
{% endblock %}
