{% extends "trojsten/layout/main.html" %}
{% load submit_parts %}
{% load statements_parts %}
{% load i18n %}

{% block title %}
    {% comment %}Translators: original: Odovzdávanie{% endcomment %}
    {% trans "Submitting" %}
{% endblock %}

{% block page_header %}
    {% comment %}Translators: original: Odovzdávanie{% endcomment %}
    <h1>{% trans "Submitting" %} <small><a href="{% url 'task_statement' round_id=round.id %}">{{ round }}</a></small></h1>
{% endblock %}

{% block page_content %}
    {% round_submit_form round=round %}
{% endblock %}
