{% extends "trojsten/layout/main.html" %}
{% load submit_parts %}
{% load statements_parts %}
{% load i18n %}

{% block title %}
    {% comment %}Translators: original: Odovzdávanie{% endcomment %}
    {% trans "Submitting" %}
{% endblock %}

{% block page_header %}
    {% comment %}Translators: original: Odovzdávanie{% endcomment %}
    <h1>{% trans "Submitting" %} <small><a href="{% url 'task_statement' task_id=task.id %}">{{ task }}</a></small></h1>
{% endblock %}

{% block page_content %}
    {% show_progress task.round%}
    {% show_submit_form task request.path %}
    {% show_submit_list task request.user %}
{% endblock %}
