{% extends "trojsten/layout/main.html" %}
{% load staticfiles submit_parts %}
{% load utils %}
{% load i18n %}

{% block title %}Detaily submitu{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/highlightjs.css" %}" type="text/css" />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static "js/highlight.pack.js" %}" type="text/javascript"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block page_header %}
<ul class="nav nav-pills">
    <li class="pull-left" id="submit-title-li">
        <h1>Detaily submitu <small>{{ submit.protocol_id }}</small></h1>
    </li>
    <li class="pull-right">
        <a href="{% url 'task_statement' task_id=submit.task.id %}">
            <span class="glyphicon glyphicon-list"></span> Zadanie
        </a>
    </li>
    {% is_organizer competition=submit.task.round.semester.competition as is_organizer %}
    {% if is_organizer %}
        <li class="pull-right">
            <a href="{% url 'admin:old_submit_submit_change' submit.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Upraviť
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block page_content %}
    {% if source %}
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#protocol" aria-controls="protocol" role="tab" data-toggle="tab">{% trans "Protocol" %}</a></li>
                <li role="presentation"><a href="#source" aria-controls="source" role="tab" data-toggle="tab">{% trans "Program" %}</a></li>
                <li role="presentation"><a href="#submits" aria-controls="submits" role="tab" data-toggle="tab">{% trans "Submits" %}</a></li>
            </ul>

            <div class="tab-content" style="margin-top: 1rem;">
                <div role="tabpanel" class="tab-pane active" id="protocol">
                    <div class="submit-protocol" data-id="{{ submit.id }}" data-ready="{{ protocolReady }}">
                        {% include "trojsten/submit/protocol.html" %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="source">
                    {% if fileReady %}
                        <pre><code>{{ data }}</code></pre>
                    {% else %}
                        {% trans "Program source is not available." %}
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="submits">
                    {% show_submit_form submit.task submit.user "" show_only_source=True %}
                    {% show_submit_list submit.task submit.user show_only_source=True %}
                </div>
            </div>
        </div>

    {% else %}
        {% trans "There are no data about this submit." %}

        {% show_submit_form submit.task submit.user "" show_only_source=True %}
        {% show_submit_list submit.task submit.user show_only_source=True %}
    {% endif %}
{% endblock %}
