{% extends "trojsten/layout/main.html" %}
{% load staticfiles submit_parts %}
{% load utils %}

{% block title %}Detaily submitu{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/prettify.css" %}" type="text/css" />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static "js/prettify/prettify.js" %}" type="text/javascript"></script>
<script>
    !function ($) {
       $(function(){
           window.prettyPrint && prettyPrint()
       })
    }(window.jQuery)
</script>
{% endblock %}

{% block page_header %}
<ul class="nav nav-pills">
    <li class="pull-left" id="submit-title-li">
        <h1>Detaily submitu <small>{{ submit.protocol_id }}</small></h1>
    </li>
    <li class="pull-right">
        <a href="{% url 'task_statement' task_id=submit.task.id %}">
            <span class="glyphicon glyphicon-list"></span> Zadanie
        </a>
    </li>
    {% is_organizer competition=submit.task.round.semester.competition as is_organizer %}
    {% if is_organizer %}
        <li class="pull-right">
            <a href="{% url 'admin:old_submit_submit_change' submit.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Upraviť
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block page_content %}
    {% if source %}
    <div class="submit-protocol" data-id="{{ submit.id }}" data-ready="{{ protocolReady }}">
        {% include "trojsten/submit/protocol.html" %}
    </div>
    <h3>Odovzdaný program</h3>
    {% if fileReady %}
        <pre class="prettyprint">{{ data }}</pre>
    {% else %}
        Zdrojový kód programu nie je dostupný
    {% endif %}
    {% else %}
        K tomuto submitu nie sú k dispozícii žiadne dáta
    {% endif %}
    {% show_submit_list submit.task submit.user %}
{% endblock %}
