{% extends "trojsten/layout/main.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% comment %}Translators: original: Novinky{% endcomment %}
    {% trans "News" %}
{% endblock title %}

{% block page_header%}
<ul class="nav nav-pills">
    <li class="pull-left">
        {% comment %}Translators: original: Novinky{% endcomment %}
        <h1>{% trans "News" %}</h1>
    </li>
    <li class="pull-right">
        <a href="{% url 'news_feed' %}">
            <img src="{% static 'images/rss.png' %}">
        </a>
    </li>
</ul>

{% endblock %}

{% block page_content %}
    {% if user.is_staff %}
        {% comment %}Translators: original: Pridať novinku{% endcomment %}
        <a href="{% url 'admin:news_entry_add' %}" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {% trans "Add news" %}
        </a>
    {% endif %}

    {% include "trojsten/news/parts/news_list.html" %}

    {% if is_paginated %}
        <ul class="pager">
            {% comment %}Translators: original: Novšie novinky{% endcomment %}
            {% trans "Previous page" as prev_page %}
            {% if page_obj.has_previous %}
                <li class="previous"><a href="{% url "news_list" page=page_obj.previous_page_number %}">{{ prev_page }}</a></li>
            {% else %}
                <li class="previous disabled"><a>{{ prev_page }}</a></li>
            {% endif %}

            <li class="page-current">
                {% comment %}Translators: original: Strana {{ curr_page }} z&nbsp;{{ num_pages }}.{% endcomment %}
                {% blocktrans with curr_page=page_obj.number num_pages=page_obj.paginator.num_pages %}
                    Page {{ curr_page }} from&nbsp;{{ num_pages }}.
                {% endblocktrans %}
            </li>

            {% comment %}Translators: original: Staršie novinky{% endcomment %}
            {% trans "Next page" as next_page %}
            {% if page_obj.has_next %}
                <li class="next"><a href="{% url "news_list" page=page_obj.next_page_number %}">{{ next_page }}</a></li>
            {% else %}
                <li class="next disabled"><a>{{ next_page }}</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock page_content %}
