{% extends "trojsten/layout/main.html" %}

{% load url from future %}
{% load staticfiles %}

{% block title %}Novinky{% endblock title %}

{% block page_header%}
<ul class="nav nav-pills">
    <li class="pull-left">
        <h1>Novinky</h1>
    </li>
    <li class="pull-right">
        <a href="{% url 'news_feed' %}">
            <img src="{% static 'images/rss.png' %}">
        </a>
    </li>
</ul>

{% endblock %}

{% block page_content %}
    {% if user.is_staff %}
        <a href="{% url 'admin:news_entry_add' %}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Pridať novinku</a>
    {% endif %}

    {% include "trojsten/news/parts/news_list.html" %}

    {% if is_paginated %}
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="{% url "news_list" page=page_obj.previous_page_number %}">Novšie novinky</a></li>
            {% else %}
                <li class="previous disabled"><a>Novšie novinky</a></li>
            {% endif %}

            <li class="page-current">
                Strana {{ page_obj.number }} z&nbsp;{{ page_obj.paginator.num_pages }}.
            </li>

            {% if page_obj.has_next %}
                <li class="next"><a href="{% url "news_list" page=page_obj.next_page_number %}">Staršie novinky</a></li>
            {% else %}
                <li class="next disabled"><a>Staršie novinky</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock page_content %}
