{% load static %}

<!DOCTYPE html>
<html lang="sk" xmlns:ng="http://angularjs.org/" ng:app="zerg">
<head>
    <meta charset="utf-8">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <title>Project Zerg</title>

    <link rel="stylesheet" href="{% static 'plugin_prask_8_1_1/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin_prask_8_1_1/css/app.css' %}">

    <script>
      var STATIC_URL_PREFIX = '{{ STATIC_URL }}plugin_prask_8_1_1/';
      var DYNAMIC_URL_PREFIX = '{% url "plugin_zergbot:root" %}';
    </script>

</head>
<body>
    <div class="loading" ng-style="{'display': 'none'}">Loading...</div>
    <div class="gameContainer" ng-cloak>
        <div class="header">
            <img class="logo" src="{% static 'plugin_prask_8_1_1/assets/graphics/ksp_logo.png' %}">

            <div class="name">ZERG BOT</div>
            <div class="right">Hráč: {{ request.user }}</div>
        </div>
        <div class="content" ng-view></div>
    </div>

    <script src="{% static 'plugin_prask_8_1_1/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/components/ace/ace.js' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/bower_components/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/bower_components/angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/bower_components/angular-ui-ace/ui-ace.min.js' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/bower_components/ngDialog/js/ngDialog.min.js' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/components/phaser/phaser.min.js' %}"></script>

    <!--js-release-minimize-->
    <!-- Using ES6 modules. It has 94% global support at the time of writing (2021-11-22) according to caniuse.com. -->
    <script src="{% static 'plugin_prask_8_1_1/app.js' %}"></script>
    <script type="module" src="{% static 'plugin_prask_8_1_1/components/controllers.js' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/components/services.js' %}"></script>
    <script type="module" src="{% static 'plugin_prask_8_1_1/components/parser.mjs' %}"></script>
    <script type="module" src="{% static 'plugin_prask_8_1_1/components/interpreter.mjs' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/components/phaser-game/Boot.js' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/components/phaser-game/Preload.js' %}"></script>
    <script src="{% static 'plugin_prask_8_1_1/components/phaser-game/Game.js' %}"></script>
    <!--js-release-minimize-end-->

</body>
</html>
