{% load submit_utils_parts %}
{% load statements_parts %}

{% show_progress round%}
{% for task in tasks %}
    <h3><a href="{% url 'task_statement' task_id=task.id %}">{{ task.number }}. {{task.name}}</a></h3>
    {% show_submit_form task request.path %}
    {% if task.has_submit_list %}
        <div>
            <a href="{% url 'task_submit_page' task_id=task.id %}">Zoznam submitov</a>
        </div>
    {% endif %}
    {% if task.get_submit_types|length == 0 %}
        <p class="text-danger">Tento príklad momentálne nemá možnosť odovzdávania.</p>
    {% endif %}
{% endfor %}
