{% load staticfiles sekizai_tags %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}{% if request.path != '/' %} - {{ SITE.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if SITE.theme_color %}<meta name="theme-color" content="{{ SITE.theme_color }}">{% endif %}
    <link rel="icon" type="image/png" href="{% static "images/favicon-32.png" %}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{% static "images/favicon-192.png" %}" sizes="192x192"/>
    {% render_block "css" %}
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static "css/"|add:SITE.folder|add:"/bootstrap.min.css" %}" type="text/css" />
      <link rel="stylesheet" href="{% static "ksp_login/css/base.css" %}" type="text/css" />
    {% endblock %}
    {% block extra_head %}{% endblock %}
  </head>
  {% get_current_language as language_code %}
  <body data-language-code="{{ language_code }}">
    {% block page_layout %}
    {% endblock %}
    {% block javascript %}
      <script src="{% static "js/jquery-1.11.1.min.js" %}" type="text/javascript"></script>
      <script src="{% static "js/jquery.mobile.custom.min.js" %}" type="text/javascript"></script>
      <script src="{% static "js/jquery-migrate-1.2.1.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
      <script src="{% static "js/bootstrap-tab-anchors.js" %}" type="text/javascript"></script>
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}" type="text/javascript"></script>
        <script src="{% static "js/respond.min.js" %}" type="text/javascript"></script>
      <![endif]-->
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.min.js" type="text/javascript"></script>
      <script src="{% static "js/csrf_token.js" %}"></script>
      <script src="{% static "js/menu.js" %}" type="text/javascript"></script>
      <script src="{% static "js/submit-ajax.js" %}" type="text/javascript"></script>
      <script src="{% static "js/bootstrap-load-plugins.js" %}" type="text/javascript"></script>
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          extensions: ["tex2jax.js"],
          jax: ["input/TeX","output/HTML-CSS"],
          tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]},
          TeX: {extensions: ["AMSmath.js","AMSsymbols.js", "[Contrib]/siunitx/siunitx.js"]}
        });
        MathJax.Ajax.config.path["Contrib"] = "//cdn.mathjax.org/mathjax/contrib";
      </script>
      <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script src="{% static "js/"|add:SITE.folder|add:"/analytics.js" %}" type="text/javascript"></script>
      <script src={% static "js/fb_pixel.js" %}" type="text/javascript"></script>
      {% include "ksp_login/parts/include_javascript.html" %}
    {% endblock %}
    {% render_block "js" %}
  </body>
</html>
