{% load staticfiles %}
{% load i18n %}

{% block page_footer %}
<ul class="list-inline text-muted">
    <li>
        <a href="/kontakt/">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            {% comment %}Translators: original: Kontakt{% endcomment %}
            {% trans "Contact" %}
        </a>
    </li>
    <li>
        <a href="/sponzori/">
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
            {% comment %}Translators: original: Sponzori{% endcomment %}
            {% trans "Sponsors" %}
        </a>
    </li>
    <li>
        <a href="/nahlasit-problem/">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {% comment %}Translators: original: Nahlásiť problém{% endcomment %}
            {% trans "Report a problem" %}
        </a>
    </li>
    <li class="pull-right">
        &copy; <a href="http://trojsten.sk/"><img id="trojsten_logo" src="{% static "images/trojsten/logo_small.png" %}" alt="Trojsten"/>Trojsten</a> {% now "Y" %} (rev {{ VERSION }}) <br>
    </li>
</ul>
<ul class="list-inline text-muted">
    <li>
        {% comment %}Translators: original: <a href="http://trojsten.sk/podporte-nas/">Podporte nás</a> darovaním 2% z dane{% endcomment %}
        {% blocktrans %}
            <a href="http://trojsten.sk/podporte-nas/">Support us</a> by donating 2% tax
        {% endblocktrans %}
    </li>
    <li class="pull-right">
        {% comment %}Translators: original: ikony{% endcomment %}
        {% trans "icons" %} &copy; <a href="http://glyphicons.com/">GLYPHICONS.com</a>
    </li>
</ul>
{% endblock %}
