{% load staticfiles %}
{% block page_footer %}
<ul class="list-inline text-muted">
<li><a href="/kontakt/"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Kontakt</a></li>
<li><a href="/sponzori/"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Sponzori</a></li>
<li><a href="/nahlasit-problem/"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Nahlásiť problém</a></li>
<li class="pull-right">
    &copy; <a href="http://trojsten.sk/"><img id="trojsten_logo" src="{% static "images/trojsten/logo_small.png" %}" alt="Trojsten"/>Trojsten</a> {% now "Y" %} (rev {{ VERSION }}) <br>    
</li>
</ul>
<ul class="list-inline text-muted">
<li><a href="http://trojsten.sk/podporte-nas/">Podporte nás</a> darovaním 2% z dane</li>
<li class="pull-right">
    ikonky &copy; <a href="http://glyphicons.com/">GLYPHICONS.com</a>
</li>
</ul>
{% endblock %}
