{% block page_header %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{SITE.URL}}">{{SITE.SHORT_NAME}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {%for OTHER_SITE in OTHER_SITES %}
        <li><a href="{{OTHER_SITE.URL}}">{{OTHER_SITE.SHORT_NAME}}</a></li>
        {% endfor %}
      </ul>
      {% include "ksp_login/parts/login_box.html" %}
      {% include "trojsten/layout/social-buttons.html" %}
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
{% endblock %}
