{% extends "trojsten/layout/base.html" %}
{% load utils navigation_tags %}
{% load cookielaw_tags %}

{% block page_layout %}
<header>{% include "trojsten/layout/header.html" %}</header>
<div class="container">
  <div class="row">
    <nav class="col-md-3 col-sm-3 col-xs-6 offcanvas-xs nav-menu">{% navigation %}</nav>
    <div class="col-md-9 col-sm-9 col-xs-12 main-content">
        <div class="page-header">
            {% block page_header %}{% endblock %}
        </div>

        {% if messages %}
        <!-- Messages for this instance -->
        {% for message in messages %}
            {% with message.level_tag|split:" " as tags %}
            <div class="alert {% for tag in tags %} alert-{{ tag }} {% endfor %}" role="alert">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ message|safe }}
            </div>
            {% endwith %}
        {% endfor %}
        {% endif %}

        {% if user.is_authenticated and user.is_staff %}
        {% include "tips/tips.html" %}
        {% endif %}

        {% block page_content %}{% endblock %}
    </div>
  </div>
</div>

<footer>
    {% include "trojsten/layout/footer.html" %}
</footer>

<div style="position: fixed; bottom: 0; width: 100%;">
    {% cookielaw_banner %}
</div>
{% endblock %}
