{% extends "trojsten/layout/base.html" %}

{% block page_layout %}
<header>{% include "trojsten/layout/header.html" %}</header>
<div class="container">
  <div class="row">
    <nav class="col-md-3 col-sm-3 col-xs-6 offcanvas-xs nav-menu">{% include "trojsten/layout/navigation.html" %}</nav>
    <div class="col-md-9 col-sm-9 col-xs-12 main-content">
    <div class="page-header">
        {% block page_header %}{% endblock %}
    </div>
        {% if messages %}
        <!-- Messages for this instance -->
        {% for message in messages %}
            {# TODO: after bump to Django>=1.7, use level_tag here #}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    {% block page_content %}{% endblock %}
    </div>
  </div>
</div>

<footer>
<div class="container">
{% include "trojsten/layout/footer.html" %}
</div>
</footer>

{% endblock %}
