{% load utils %}
{% block page_navigation %}
<div class="sidebar">
    <ul class="nav nav-pills nav-stacked">
        <h2>KSP</h2>
        <li class="{% current '^/$' %}"><a href="/?home">Domov</a></li>
        <li class="{% current 'news_list' %}" ><a href="{% url 'news_list' page=1 %}">Novinky</a></li>
        <li class="{% current '^/zbierky/$' %}"><a href="/zbierky/">Zbierky</a></li>
        <li class="{% current '^/pravidla/$' %}"><a href="/pravidla/">Pravidlá</a></li>
        <li class="{% current '^/faq/$' %}"><a href="/faq/">FAQ</a></li>
        <li><a href="https://liahen.ksp.sk/">Liaheň</a></li>
        <h2>Aktuálne</h2>
        <li class="{% current 'latest_task_list' %} {% current 'task_list' %} {% current 'task_statement' %} {% current 'solution_statement' %}"><a href="{% url 'latest_task_list' %}">Zadania a riešenia</a></li>
        <li class="{% current 'view_latest_results' %} {% current 'view_results' %}"><a href="{% url 'view_latest_results' %}">Výsledky</a></li>
        <h2>Akcie</h2>
        <li><a href="http://klub.trojsten.sk/">Klub</a></li>
        <li><a href="http://akademia.trojsten.sk">Akadémia</a></li>
        <h2>Ostatné</h2>
        <li class="{% current '^/organizatori/$' %}"><a href="/organizatori/">Organizátori</a></li>
        <li class="{% current '^/sponzori/$' %}"><a href="/sponzori/">Sponzori</a></li>
        <li class="{% current '^/kontakt/$' %}"><a href="/kontakt/">Kontakt</a></li>
        <h2 class="visible-xs">Iné semináre</h2>
        {%for OTHER_SITE in OTHER_SITES %}
        <li class="visible-xs">
            <a href="{{ OTHER_SITE.URL }}">{{ OTHER_SITE.SHORT_NAME }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
