<ul id="social-buttons" class="nav navbar-nav navbar-right">
  <li class="social-button">
      <div id="fb-root"></div>
      <script>
      (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js#appId=206535816077976&xfbml=1";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));
      </script>
      <div class="fb-like" data-href="http://www.ksp.sk" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
  </li>

   <li class="social-button">
      <!-- Umiestnite túto značku tam, kde sa má vykresliť miniaplikácia tlačidlo +1. -->
      <div class="g-plusone" data-size="medium" data-href="http://www.ksp.sk"></div>
      <!-- Umiestnite túto značku za poslednú značku tlačidlo +1. -->
      <script type="text/javascript">
        window.___gcfg = {lang: 'sk'};

        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
  </li>
</ul>
