{% load staticfiles %}

<!DOCTYPE html>

<!--suppress XmlDuplicatedId -->
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
  <link href='{% static "plugin_prask_7_1_1/main.css" %}' rel="stylesheet">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Finiš</title>
</head>
<body>
  <div id="level">
    <p>
      Vyhral/a si! :)
    </p>
  </div>
  <script src='{% static "plugin_prask_7_1_1/neoscreen.js" %}'></script>
</body>
</html>
