{% load staticfiles %}

<!DOCTYPE html>

<!--suppress XmlDuplicatedId -->
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
  <link href='{% static "plugin_prask_7_1_1/main.css" %}' rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Intro</title>
</head>
<body>
<div id="level">
  <p>
    Vitaj! Pravidlá tejto interaktívnej hry sú jednoduché. V každom leveli je treba získať heslo.
    Získané heslo potom vložíš na koniec URL adresy: "https://prask.ksp.sk/specialne/prask/7/1/1/[HESLO]".
    Ukážem ti to na príklade :)
  </p>
  <p>Prezradím ti, že heslo k prvému levelu je "letsplay". Stránka, na ktorej sa práve nachádzaš, má adresu
    "https://prask.ksp.sk/specialne/prask/7/1/1/intro". Preto stačí "intro" v tejto adrese zmeniť na
    "letsplay", teda "https://prask.ksp.sk/specialne/prask/7/1/1/letsplay". Na tejto novej adrese nájdeš prvý level.
    Pri riešení ti odporúčame používať Chrome alebo Firefox.
  </p>
  <p>Pri získavaní hesla môžeš vyhľadávať informácie na internete, zobrazovať zdrojový kód stránky, atď. Nie každý level
    skrýva niečo v zdrojovom kóde, niektoré levely vôbec nesúvisia s webovými technológiami. Za každý vyriešený level
    získaš 10 bodov (alebo 7 bodov ak použiješ nápovedu). Neboj sa nápovedy používať, je lepšie sa dostať ďalej ako
    zostať zaseknútý/á. Ak si ani s nápovedou nebudeš vedieť dať rady s levelom, napíš email na
    roman.sobkuliak@trojsten.sk . Rovnako nám napíš aj v prípade akýchkoľvek nejasností.
  </p>
</div>

</body>
<script src='{% static "plugin_prask_7_1_1/neoscreen.js" %}'></script>
</html>
