{% extends "plugin_prask_7_1_1/level_base.html" %}
{% load staticfiles %}

{% block content %}
<div>
  <input id="uzivatelskyVstup" type="text"></input>
  <button onclick="zvalidujHandler()" type="submit">Zvaliduj</button>
</div>
{% endblock content %}

{% block bottom_js %}
<script type="text/javascript">
  function je_cifra(znak) {
    return $.isNumeric(znak);
  }
  function preved_na_cislo(znak) {
    return parseInt(znak)
  }
  function je_validny(txt) {
    if (txt.length != 6) return false;
    if (txt[0] != 'm') return false;
    if (txt[2] != txt[5] || txt[2] != 'd') return false;
    if (!je_cifra(txt[1]) || !je_cifra(txt[4])) return false;
    const a = preved_na_cislo(txt[1]);
    const b = preved_na_cislo(txt[4]);
    if (a + b != 6 || a * b != 9) return false;
    if (txt[3] != 'v') return false;
    return true
  }

  function zvalidujHandler(e) {
    const txt = document.getElementById('uzivatelskyVstup').value
    if (je_validny(txt)) alert("Správne!")
    else alert("Skús to znovu.")
  }
</script>
{% endblock bottom_js %}