{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}
    {% comment %}Translators: original: Trojstenweb admin{% endcomment %}
    {{ title }} | {% trans "Trojstenweb admin" %}
{% endblock %}

{% block branding %}
    {% comment %}Translators: original: Trojstenweb administration{% endcomment %}
    <h1 id="site-name">{% trans "Trojstenweb administration" %}</h1>
{% endblock %}

{% block nav-global %}
<div id="site-linkback" style="padding: 0 10px; margin: 8px 0;">
    <a href="{{ SITE.URL }}">{{ SITE.SHORT_NAME }}</a>
    {% for OTHER_SITE in OTHER_SITES %}
        | <a href="{{ OTHER_SITE.URL }}">{{ OTHER_SITE.SHORT_NAME }}</a>
    {% endfor %}
</div>
{% endblock %}
