{% extends "trojsten/layout/simple_main.html" %}
{% load staticfiles %}

{% block title %}{% block ksp_login_title %} ({{ block.super }}){% endblock ksp_login_title %}{% endblock title %}

{% block page_content %}
  {% block ksp_login_content %}
  {% endblock ksp_login_content %}
{% endblock page_content %}

{% block javascript %}
{{ block.super }}
<script src="{% static "js/jquery-ui-1.9.2-autocomplete.min.js" %}"></script>
<script src="{% static "js/latinize.js" %}"></script>
<script src="{% static "js/autocomplete.js" %}"></script>
<script src="{% static "js/correspondence-address.js" %}"></script>
<script src="{% static "js/settings-datepicker.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
{% endblock javascript %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery-ui-autocomplete/jquery-ui-1.9.2-autocomplete.min.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}" type="text/css">
{% endblock stylesheets %}
