{% extends "ksp_login/base.html" %}
{% load i18n sekizai_tags %}

{% block ksp_login_title %}{% trans "Log in" %}{% endblock ksp_login_title %}

{% block page_header %}
<h1>{% trans "Log in" %}</h1>
{% endblock %}

{% block ksp_login_content %}
  {% include "ksp_login/parts/login_full_contents.html" %}
  {% if SITE.is_login_provider %}
    {% addtoblock "js" %}
      <script type="text/javascript">
        $(function() {
          $("#auto_login_form").submit();
        });
      </script>
    {% endaddtoblock %}
  {% endif %}
{% endblock ksp_login_content %}
