{% load utils %}
{% load i18n %}

<div class="clearfix">
{% if round.tasks_pdf_exists %}
    {% comment %}Translators: original: PDF zadania{% endcomment %}
    <a class="btn-statements btn btn-sm col-md-2 col-sm-3 col-xs-12 btn-info" href="{% url 'view_pdf' round_id=round.id %}">{% trans "PDF problem statements" %}</a>
{% endif %}
{% if round.solutions_pdf_exists %}
    {% is_organizer round.series.competition as organizer %}
    {% if organizer or round.solutions_visible %}
        <a class="btn-statements btn btn-sm col-md-2 col-sm-3 col-xs-12 btn-info" href="{% url 'view_solutions_pdf' round_id=round.id %}">
            {% comment %}Translators: original: PDF vzoráky{% endcomment %}
            {% trans "PDF solutions" %}:
            {% if not round.solutions_visible %}
                {% comment %}Translators: original: skryté{% endcomment %}
                <span class="label label-danger" title="{% trans "hidden" %}"
                      data-toggle="tooltip" data-placement="top">
                    {% comment %}Translators: original: skr.{% endcomment %}
                    {% trans "hid." %}
                </span>
            {% endif %}
        </a>
    {% endif %}
{% endif %}
<a class="btn-statements btn btn-sm col-md-2 col-sm-3 col-xs-12 btn-success" href="{% url 'round_submit_page' round_id=round.id %}">
    {% comment %}Translators: original: Odovzdaj riešenia{% endcomment %}
    {% trans "Submit solutions" %}
</a>

{% comment %}Translators: original: Výsledky{% endcomment %}
{% trans "Results" as results %}

{% if categories %}
    {% for category in categories %}
    <a class="btn-statements btn btn-sm col-md-2 col-sm-3 col-xs-12 btn-danger category-{{ category }}"
       href="{% url 'view_results' round_id=round.id category_id=category.id %}">
        {{ results }}
        <span class="label label-button category-{{ category }}">{{ category }}</span>
    </a>
    {% endfor %}
{% else %}
    <a class="btn-statements btn btn-sm col-md-2 col-sm-3 col-xs-12 btn-danger" href="{% url 'view_results' round_id=round.id %}">
        {{ results }}
    </a>
{% endif %}
</div>
