{% load utils %}
{% load i18n %}
<!-- Nav tabs -->

{% if categories.count > 1 %}
<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#category-tab-all" role="tab" data-toggle="tab"
           onclick="$('#task-list-{{ round.id }} tr').show()">
            {% comment %}Translators: original: Všetky{% endcomment %}
            {% trans "All" %}
        </a>
    </li>
    {% for category in categories %}
    <li>
        <a href="#category-tab-{{ category }}" role="tab" data-toggle="tab"
           onclick="$('#task-list-{{ round.id }} tr:not(.category-{{ category }})').hide();$('#task-list-{{ round.id }} tr.category-{{ category }}').show();$('#task-list-{{ round.id }} thead>tr').show();">
            {{ category }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="table-responsive">
<table class="table table-condensed task-list" id="task-list-{{ round.id }}">
<thead>
<tr>
    <th width="5%">
        #
    </th>
    <th>
        {% comment %}Translators: original: Úloha{% endcomment %}
        {% trans "Task" %}
    </th>
    {% if solutions_visible %}
    <th width="15%">
        {% comment %}Translators: original: Vzoráky{% endcomment %}
        {% trans "Solutions" %}
        {% if not round.solutions_visible %}
            <small>
                {% comment %}Translators: original: skryté{% endcomment %}
                <span class="label label-danger" title="{% trans "hidden" %}"
                      data-toggle="tooltip" data-placement="top">
                    {% comment %}Translators: original: skr.{% endcomment %}
                    {% trans "hid." %}
                </span>
            </small>
        {% endif %}
    </th>
    {% endif %}
    <th width="15%">
        {% comment %}Translators: original: Kategória{% endcomment %}
        {% trans "Category" %}
    </th>
    <th width="15%">
        {% comment %}Translators: original: Max. body{% endcomment %}
        {% trans "Max. points" %}
    </th>
    {% if user.is_authenticated %}
    <th width="15%">
        {% comment %}Translators: original: Tvoje body{% endcomment %}
        {% trans "Your points" %}
    </th>
    {% endif %}
</tr>
</thead>
{% for task in tasks %}
    <tr class="{% for category in task.category.all %} category-{{ category }}{% endfor %}">
        <td>
            {{ task.number }}.
        </td>
        <td>
            <a href="{% url 'task_statement' task_id=task.id %}">{{ task.name }}</a>
        </td>
        {% if solutions_visible %}
            <td>
                {% comment %}Translators: original: vzorák{% endcomment %}
                <a href="{% url 'solution_statement' task_id=task.id %}">{% trans "solution" %}</a>
            </td>
        {% endif %}
        <td>
            {% for category in task.category.all %}
                <span class="label label-default category-{{ category }}">{{ category }}</span>
            {% endfor %}
        </td>

        {% comment %}Translators: original: popis{% endcomment %}
        {% trans "description" as description %}

        {% comment %}Translators: original: program{% endcomment %}
        {% trans "program" as program %}

        <td>
            {% if task.description_points > 0 %}
                <span class="points-item">{{ description }}:&nbsp;{{ task.description_points }}</span>
                {% if task.source_points > 0 %}<br/>{% endif %}
            {% endif %}
            {% if task.source_points > 0 %}
                <span class="points-item">{{ program }}:&nbsp;{{ task.source_points }}</span>
            {% endif %}
        </td>
        {% if user.is_authenticated %}
        {% lookup_as points.tasks task.id as task_points %}
        <td>
            {% if task.description_points > 0 %}
                <span class="points-item">{{ description }}:&nbsp;{% if task_points.description_pending %}??{% else %}{{ task_points.description_points }}{% endif %}</span>
                {% if task.source_points > 0 %}<br/>{% endif %}
            {% endif %}
            {% if task.source_points > 0 %}
                <span class="points-item">{{ program }}:&nbsp;{{ task_points.source_points }}</span>
            {% endif %}
        </td>
        {% endif %}
    </tr>
{% empty %}
    <tr>
        {% comment %}Translators: original: Žiadne úlohy{% endcomment %}
        <td colspan="4">{% trans "There is no task" %}</td>
    </tr>
{% endfor %}
</table>
</div>
