{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'easy_select2/vendor/select2/css/select2.min.css' %}" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'easy_select2/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'easy_select2/vendor/select2/js/select2.min.js' %}"></script>
<script src="{% static 'easy_select2/js/easy_select2.js' %}"></script>
<script src="{% static 'easy_select2/js/init.js' %}"></script>
{% endblock %}
