{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:tasks_task_change' original.task.pk %}" class="historylink">{% trans 'View task' %}</a>
    </li>
    <li>
    <a href="{% url 'view_submit' submit_id=original.pk %}" class="historylink">{% trans 'View' %}</a>
    </li>
    <li>
    <a href="{% url 'admin:submit_download' original.pk %}" class="historylink">{% trans 'Download' %}</a>
    </li>
    {{ block.super}}
{% endblock %}
