{% load utils %}
<!-- Nav tabs -->

{% if categories.count > 1 %}
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#category-tab-all" role="tab" data-toggle="tab" onclick="$('#task-list-{{round.id}} tr').show()">Všetky</a></li>
    {% for category in categories %}
    <li><a href="#category-tab-{{category}}" role="tab" data-toggle="tab" onclick="$('#task-list-{{round.id}} tr:not(.category-{{category}})').hide();$('#task-list-{{round.id}} tr.category-{{category}}').show();$('#task-list-{{round.id}} thead>tr').show();">{{category}}</a></li>
    {% endfor %}
</ul>
{% endif %}

<table class="table table-condensed" id="task-list-{{round.id}}">
<thead>
<tr>
    <th width="5%">
        #
    </th>
    <th>
        Úloha
    </th>
    {% if solutions_visible %}
    <th width="15%">
        Riešenie {% if not round.solutions_visible %}<small><span class="label label-danger" title="skryté">skr.</span></small>{% endif %}
    </th>
    {% endif %}
    <th width="15%">
        Kategória
    </th>
    <th width="15%">
        Max. body
    </th>
    {% if user.is_authenticated %}
    <th width="15%">
        Tvoje body
    </th>
    {% endif %}
</tr>
</thead>
{% for task in tasks %}
    <tr class="{% for category in task.category.all %} category-{{category}}{% endfor %}">
        <td>
            {{task.number}}.
        </td>
        <td>
            <a href="{% url 'task_statement' task_id=task.id %}">{{task.name}}</a>
        </td>
        {% if solutions_visible %}
            <td>
                <a href="{% url 'solution_statement' task_id=task.id %}">riešenie</a>
            </td>
        {% endif %}
        <td>
            {% for category in task.category.all %}
                <span class="label label-default category-{{category}}">{{category}}</span>
            {% endfor %}
        </td>
        <td>
            {% if task.description_points > 0 %}
                <span class="points-item">popis: {{task.description_points}}</span>
                {% if task.source_points > 0 %}<br/>{% endif %}
            {% endif %}
            {% if task.source_points > 0 %}
                <span class="points-item">program: {{task.source_points}}</span>
            {% endif %}
        </td>
        {% if user.is_authenticated %}
        <td>
            {% if task.description_points > 0 %}
                <span class="points-item">popis: {{points|lookup:task|lookup:'description'}}</span>
                {% if task.source_points > 0 %}<br/>{% endif %}
            {% endif %}
            {% if task.source_points > 0 %}
                <span class="points-item">program: {{points|lookup:task|lookup:'source'}}</span>
            {% endif %}
        </td>
        {% endif %}
    </tr>
{% empty %}
    <tr>
        <td colspan="4">Žiadne úlohy</td>
    </tr>
{% endfor %}
</table>
