{% extends "trojsten/layout/main.html" %}
{% load bootstrap %}
{% load utils %}
{% load sekizai_tags %}
{% load staticfiles %}
{% load wiki_tags %}

{% block title %}Diplomy{% endblock %}

{% block page_header %}
<h1>Diplomy</h1>
{% endblock %}

{% block page_content %}
    <form action="{% url 'view_diplomas' %}" method="post" id="form" enctype='multipart/form-data'>
        {% csrf_token %}
        <div id="editable_fields_container"></div>
        {{ form  | bootstrap_inline }}
        <button id='form_submit' type="submit">Generate diplomas</button>
    </form>

{% block wiki_contents_tab %}
{% wiki_render article %}
{% endblock %}

{% addtoblock "js" %}
    <script>var template_fields = "{{ template_fields }}";</script>
    <script src="{% static "js/diploma_preview.js" %}"></script>
{% endaddtoblock %}

{% endblock %}
