{% extends "trojsten/layout/main.html" %}
{% load utils %}

{% block title %}Zoznam účastníkov{% endblock %}

{% block page_header %}
<h1>Zoznam účastníkov</h1>
{% endblock %}

{% block page_content %}

<div class="table-responsive">
<table class="table table-hover table-condensed results-table">
<thead>
<tr>
    <th>Meno</th>
    <th><abbr title="Ročník" data-toggle="tooltip" data-placement="top">R.</abbr></th>
    <th>Škola</th>
</tr>
</thead>
{% for participant in event.participants %}
    <tr {% if user == participant.user %}class="active"{% endif %}>
        <td>{{ participant.user.get_full_name }}</td>
        <td>{{ participant.user.school_year | school_year }}</td>
        <td>
        {% if participant.user.school.has_abbreviation %}
            <abbr title="{{ participant.user.school.verbose_name }}"
                  data-toggle="tooltip" data-placement="top">
                {{ participant.user.school.abbreviation }}
            </abbr>
        {% else %}
            {{ participant.user.school.verbose_name }}
        {% endif %}
        </td>
    </tr>
{% endfor %}
<tr><th colspan="3">Vedúci</th></tr>
{% for organizer in event.organizers %}
    <tr {% if user == organizer.user %}class="active"{% endif %}>
        <td colspan="2">{{ organizer.user.get_full_name }}</td>
        <td>
        {% if organizer.user.school.has_abbreviation %}
            <abbr title="{{ organizer.user.school.verbose_name }}"
                  data-toggle="tooltip" data-placement="top">
                {{ organizer.user.school.abbreviation }}
            </abbr>
        {% else %}
            {{ organizer.user.school.verbose_name }}
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
</div>

{% endblock %}
