{% load utils %}
<h3>Odovzdané súbory</h3>
{% if task.has_description %}
    <h4>Popis</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Čas</th>
                <th>Stav</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
        {% for submit in submits|lookup:Submit.DESCRIPTION %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td><a href="{% url 'view_submit' submit_id=submit.id %}">{{ submit.time }}</a></td>
                {% if submit.testing_status == 'in queue' %}
                <td>Neopravené</td>
                <td>..</td>
                {% else %}
                <td>Opravené</td>
                <td>{{ submit.points }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if task.has_source %}
    <h4>Kód</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Čas</th>
                <th>Stav</th>
                <th>Správa z testovača</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
        {% for submit in submits|lookup:Submit.SOURCE %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td><a href="{% url 'view_submit' submit_id=submit.id %}">{{ submit.time }}</a></td>
                {% if submit.testing_status == 'in queue' %}
                <td>Testuje sa</td>
                <td>Čaká sa na otestovanie</td>
                <td>..</td>
                {% else %}
                <td>Dotestované</td>
                <td>{{ submit.tester_response }}</td>
                <td>{{ submit.points }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
