{% load bootstrap %}
{% if task.has_description %}
    <h3>Popis</h3>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'task_submit_post' task_id=task.id submit_type=Submit.DESCRIPTION %}">
        {% csrf_token %}
        {{ description_form | bootstrap_horizontal }}
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </div>
    </form>
{% endif %}
{% if task.has_source %}
    <h3>Kód</h3>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'task_submit_post' task_id=task.id submit_type=Submit.SOURCE %}">
        {% csrf_token %}
        {{ source_form | bootstrap_horizontal }}
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </div>
    </form>
{% endif %}
