{% load utils %}
{% load submit_parts %}
{% if task.has_description or task.has_source or task.has_testablezip %}
<h2>Odovzdané súbory</h2>
{% endif %}
{% if task.has_description %}
    <h3>Popis</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Čas</th>
                <th>Stav</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
        {% for submit in submits|lookup:Submit.DESCRIPTION %}
            <tr>
                <td><a href="{% url 'view_submit' submit_id=submit.id %}">{{ submit.time }}</a></td>
                {% if submit.testing_status == 'in queue' %}
                <td>Neopravené</td>
                <td>..</td>
                {% else %}
                <td>Opravené</td>
                <td>{{ submit.points }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if task.has_source or task.has_testablezip %}
    {% if task.has_source %}
        <h3>Kód</h3>
    {% else %}
        <h3>Zip</h3>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Čas</th>
                <th>Stav</th>
                <th>Správa z testovača</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
        {% if task.has_source %}
        {% for submit in submits|lookup:Submit.SOURCE %}
            <tr class="{{ submit|submitcolor }}">
                <td><a href="{% url 'view_submit' submit_id=submit.id %}">{{ submit.time }}</a></td>
                {% if submit.testing_status == 'in queue' %}
                <td>Testuje sa</td>
                <td>Čaká sa na otestovanie</td>
                <td>..</td>
                {% else %}
                <td>Dotestované</td>
                <td>{{ submit.tester_response_verbose }}</td>
                <td>{{ submit.points }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        {% endif %}
        {% if task.has_testablezip %}
        {% for submit in submits|lookup:Submit.TESTABLE_ZIP %}
            <tr class="{{ submit|submitcolor }}">
                <td><a href="{% url 'view_submit' submit_id=submit.id %}">{{ submit.time }}</a></td>
                {% if submit.testing_status == 'in queue' %}
                <td>Testuje sa</td>
                <td>Čaká sa na otestovanie</td>
                <td>..</td>
                {% else %}
                <td>Dotestované</td>
                <td>{{ submit.tester_response_verbose }}</td>
                <td>{{ submit.points }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        {% endif %}

        </tbody>
    </table>
{% endif %}
