{% extends "admin/change_list.html" %}
{% block extrastyle %}
{{block.super}}
    <style type="text/css" media="screen">
    .selected {
        color: red;
    }
    </style>
{% endblock %}
{% block date_hierarchy %}
{{block.super}}
{% if choices %}
<div class="xfull">
    <ul class="toplinks">
        {% for choice in choices %}
            <li>
                <a href="{{ choice.link }}">
                {% if choice.active %}<span class="selected">{% endif %}
                    {{ choice.title }}
                {% if choice.active %}</span>{% endif %}
                </a>
            </li>
        {% endfor %}
    </ul><br class="clear" />
</div>
{% endif %}
{% endblock %}
