@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext);

li > h1 {
    margin-top: 0;
}

.simplemodal-container {
    color: black;
}

.panel-rounds {
    margin-top: 1em;
}

.well.task-points.pull-right {
    margin-left:5px;
}

label.required:after {
    content:"*";
}

input {
  color: black;
}

.social-button {
    padding: 16px 0;
    height: 50px;
    margin-right:10px;
}

.label-button {
  border: 1px solid rgba(0,0,0,.3);
}

.main-content {
  text-align: justify;
}

.sidebar h2 {
  font-size:1.2em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #030303;
}
footer ul {
  margin: 20px 0;
}

