li > h1 {
    margin-top: 0;
}

.panel-rounds {
    margin-top: 1em;
}

.well.task-points.pull-right {
    margin-left:5px;
}

label.required:after {
    content:"*";
}

.social-button {
    padding: 16px 0;
    height: 50px;
    margin-right:10px;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
footer ul {
  margin: 20px 0;
}
