li > h1 {
    margin-top: 0;
}

.panel-rounds {
    margin-top: 1em;
}

.well.task-points.pull-right {
    margin-left:5px;
}

label.required:after {
    content:"*";
}

.social-button {
    padding: 16px 0;
    height: 50px;
    margin-right:10px;

}
