{% extends "trojsten/layout/main.html" %}
{% load statements_parts %}
{% load archive_parts %}

{% block title %}Aktuálne zadania{% endblock %}

{% block page_header %}
<h1>Aktuálne zadania</h1>
{% endblock %}

{% block page_content %}
    {% for round in rounds %}
        <h2>
            {{ round.series.competition }}
            <small>
                {{ round }}
                {% if not round.visible %}
                    <span class="label label-danger">skryté</span>
                {% endif %}
            </small>
        </h2>
        {% show_progress round %}
        {% show_buttons round %}
        <h3>Zoznam úloh</h3>
        {% show_task_list round %}
    {% empty %}
    <div class="alert alert-info">Aktuálne nebeží žiadne kolo.
    Môžte si pozrieť úlohy niektorého z predošlých kôl v archíve.</div>
    {% endfor %}
    {% show_archive %}
{% endblock %}
