{% load submit_parts %}
{% load statements_parts %}
{% load i18n %}

{% show_progress round%}
{% for task in tasks %}
    <h3><a href="{% url 'task_statement' task_id=task.id %}">{{ task.number }}. {{task.name}}</a></h3>
    {% show_submit_form task request.path %}
    {% if task.has_submit_list %}
        <div>
            {% comment %}Translators: original: Zoznam submitov{% endcomment %}
            <a href="{% url 'task_submit_page' task_id=task.id %}">{% trans "List of submits" %}</a>
        </div>
    {% endif %}
    {% if task.get_submit_types|length == 0 %}
        {% comment %}Translators: original: Tento príklad momentálne nemá možnosť odovzdávania{% endcomment %}
        <p class="text-danger">{% trans "You can not submit the solution for this task yet." %}</p>
    {% endif %}
{% endfor %}
