{% load utils %}
{% load submit_parts %}
{% load i18n %}
{% if task.has_description or task.has_source or task.has_testablezip %}
<h2>Odovzdané súbory</h2>
{% endif %}
{% if task.has_description and not show_only_source %}
    <h3>Popis</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Čas</th>
                <th>Stav</th>
                <th>Body</th>
                <th>Akcie</th>
            </tr>
        </thead>
        <tbody>
        {% for submit in submits|lookup:constants.SUBMIT_TYPE_DESCRIPTION %}
            {% if submit.testing_status == IN_QUEUE %}
            <tr>
            {% else %}
            <tr class="success">
            {% endif %}
                <td>{{ submit.time }}</a></td>
                {% if submit.testing_status == IN_QUEUE %}
                <td>Neopravené</td>
                <td>..</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{% url 'view_submit' submit_id=submit.id %}">{% trans 'Download' %}</a>
                </td>
                {% else %}
                <td>Opravené</td>
                <td>{{ submit.points }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{% url 'view_submit' submit_id=submit.id %}">{% trans 'Download' %}</a>
                    <a class="btn btn-primary btn-xs comment-button comment-hidden" href="#" data-id="{{ submit.id }}">{% trans 'Show comment' %}</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if task.has_source or task.has_testablezip %}
    {% if task.has_source %}
        <h3>Kód</h3>
    {% else %}
        <h3>Zip</h3>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Čas</th>
                <th>Stav</th>
                <th>Správa z testovača</th>
                <th>Body</th>
                <th>Akcie</th>
            </tr>
        </thead>
        <tbody>
        {% if task.has_source %}
        {% for submit in submits|lookup:constants.SUBMIT_TYPE_SOURCE %}
        <tr class="{{ submit|submitclass }}" data-id="{{ submit.id }}">
                <td>{{ submit.time }}</td>
                {% if submit.testing_status == IN_QUEUE %}
                <td><span class="glyphicon glyphicon-refresh glyphicon-animate-rotate"></span> Testuje sa</td>
                <td>Čaká sa na otestovanie</td>
                <td>..</td>
                {% else %}
                <td>Dotestované</td>
                <td>{{ submit.tester_response_verbose }}</td>
                <td>{{ submit.points }}</td>
                {% endif %}
                <td><a class="btn btn-primary btn-xs" href="{% url 'view_submit' submit_id=submit.id %}">{% trans 'Detaily' %}</a></td>
            </tr>
        {% endfor %}
        {% endif %}
        {% if task.has_testablezip %}
        {% for submit in submits|lookup:constants.SUBMIT_TYPE_TESTABLE_ZIP %}
            <tr class="{{ submit|submitclass }}" data-id="{{ submit.id }}">
                <td><a href="{% url 'view_submit' submit_id=submit.id %}">{{ submit.time }}</a></td>
                {% if submit.testing_status == IN_QUEUE %}
                <td>Testuje sa</td>
                <td>Čaká sa na otestovanie</td>
                <td>..</td>
                {% else %}
                <td>Dotestované</td>
                <td>{{ submit.tester_response_verbose }}</td>
                <td>{{ submit.points }}</td>
                {% endif %}
                <td><a class="btn btn-primary btn-xs" href="{% url 'view_submit' submit_id=submit.id %}">{% trans 'Detaily' %}</a></td>
            </tr>
        {% endfor %}
        {% endif %}

        </tbody>
    </table>
{% endif %}
