{% load bootstrap %}
{% if task.has_description %}
    <form class="form-inline" enctype="multipart/form-data" method="post" action="{% url 'task_submit_post' task_id=task.id submit_type=Submit.DESCRIPTION %}">
        {% csrf_token %}
        <div class="form-group" style="min-width:50px;"><label>Popis</label></div>
        {{ description_form | bootstrap_inline }}
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
        <input class="btn btn-primary" type="submit" value="Odovzdaj" />
    </form>
{% endif %}
{% if task.has_source %}
    <form class="form-inline" enctype="multipart/form-data" method="post" action="{% url 'task_submit_post' task_id=task.id submit_type=Submit.SOURCE %}">
        {% csrf_token %}
        <div class="form-group" style="min-width:50px;"><label>Kód</label></div>
        {{ source_form | bootstrap_inline }}
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
        <input class="btn btn-primary" type="submit" value="Odovzdaj" />
    </form>
{% endif %}
{% if task.has_testablezip %}
    <form class="form-inline" enctype="multipart/form-data" method="post" action="{% url 'task_submit_post' task_id=task.id submit_type=Submit.TESTABLE_ZIP %}">
        {% csrf_token %}
        <div class="form-group" style="min-width:50px;"><label>Zip</label></div>
        {{ testablezip_form | bootstrap_inline }}
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
        <input class="btn btn-primary" type="submit" value="Odovzdaj" />
    </form>
{% endif %}

{% if task.external_submit_link %}
    <p>Tento príklad sa odovzdáva na zvlášť stránke. </p>
    <a class="btn btn-primary" href="{{task.external_submit_link}}">Stránka s odovzdávaním</a>
{% endif %}
