div#account_links {
    float: right;
}

#ksp_login_association_list img {
    height: 25px;
}

/* The following section contains JavaScript-only styles. */

.ksp_login_provider_list_js form {
    display: none;
}
