{% load ksp_login i18n %}

<script type="text/javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
{# <script type="text/javascript" src="{{ STATIC_URL }}ksp_login/js/jquery.simplemodal.1.4.4.min.js"></script> #}
<script type="text/javascript" src="{{ STATIC_URL }}ksp_login/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ksp_login/js/backend_list.js"></script>
{% if not user.is_authenticated %}
  <!-- Modal -->
  <div class="modal fade" id="ksp_login_modal_box" tabindex="-1" role="dialog" aria-labelledby="ksp_login_modal_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ksp_login_modal_label">{% trans 'Log in' %}</h4>
        </div>
        <div class="modal-body">
          {% ksp_login_auth_form id_prefix="modal_login" as auth_form %}
          {% include "ksp_login/parts/login_full_contents.html" with form=auth_form %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
