table {
  border-collapse: collapse; 
  border: 0px; 
  table-layout: fixed;
}

body, html, .table
{
  margin: 0;
  padding: 1rem;
}

.tile {
  position: relative;
  border: 1px solid lime;
  width: 100px;
  height: 100px;
}

.tile > img {
  width: 100%;
}

.tile > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
