{% extends "trojsten/layout/main.html" %}
{% load bootstrap %}

{% block title %}Nahlásiť problém{% endblock title %}

{% block page_header %}
<h1>Nahlásiť problém</h1>
{% endblock %}

{% block page_content %}
{% if SITE.organizers_email %}
<div class="alert alert-info" role="alert">Tento formulár slúži na technické problémy so stránkou, nie na problémy s riešením úloh. Pokiaľ máte problém s nejakou úlohou, napíšte vedúcim semináru na <a class="alert-link" href="mailto:{{ SITE.organizers_email }}">{{ SITE.organizers_email }}</a>, alebo priamo vedúcemu uvedenému pri úlohe.</div>
{% endif %}

<p class="lead">Ak ste objavili chybu na stránke, budeme vďační, ak nám dáte vedieť.</p>
<form class="form-horizontal" method="post" role="form">
    {% csrf_token %}
    {{ form | bootstrap_horizontal }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-primary" type="submit" value="Pošli" />
        </div>
    </div>
</form>
{% endblock %}
