{% extends 'admin/change_form.html' %}

{% block content %}
    {{ block.super }}
    {% if original %}
        <div>
            <h2>Nahrať zoznam účastníkov</h2>
            <p>
                Mená účastníkov musia byť v tvare "Meno Priezvisko", oddelené tabulátormi od zvyšných informácií na riadku.
                Je silne odporúčané skontrolovať a ručne doupraviť zoznam účastníkov po nahraní súboru - žiadne chyby nie sú hlásené.
            </p>
            <form enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                <label for="participants_list">Súbor so zoznamom účastníkov:</label><br>
                <textarea id="participants_list" name="participants_list"  ></textarea><br>
                <input type="submit" text="Upload" name="Upload"/>
            </form>
        </div>
    {% endif %}
{% endblock %}