{% for year, round_list in all_rounds.items %}
    <div class="table-responsive">
    <table class="table table-rounds">
      <thead>
        <tr>
          <th colspan="2" class="active">
            {{ year }}. ročník
          </th>
        </tr>
      </thead>
      <tbody>
      {% for round in round_list %}
          <tr>
            <td width="160px">
            <a href="{% url 'task_list' round_id=round.id %}">
              {{ round.number }}. kolo
            </a>
            {% if not round.visible %}
              <span class="label label-danger">skryté</span>
            {% endif %}
            </td>
            <td>
            {% if round.categories %}
                <a href="{% url 'task_list' round_id=round.id %}"  class="btn btn-primary btn-sm">
                  Zadania a riešenia
                </a>
                {% for category in round.categories %}
                <a class="btn btn-danger btn-sm category-{{ category }}"
                   href="{% url 'view_results' round_id=round.id category_id=category.id %}">
                    Výsledky
                    <span class="label label-button category-{{ category }}">{{ category }}</span>
                </a>
                {% endfor %}
            {% else %}
                <a class="btn btn-danger btn-sm" href="{% url 'view_results' round_id=round.id %}">
                    Výsledky
                </a>
            {% endif %}
            </td>
          </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
{% endfor %}


