{% extends "trojsten/layout/main.html" %}
{% load statements_parts %}
{% block page_content %}
    <h1>Aktuálne zadania</h1>
    {% for competition, round in rounds.items %}
        <h2>{{competition}} - {{round.number}}. kolo</h2>
        {% if round.tasks_pdf_exists %}
        <a class="btn btn-primary" href="{% url 'view_pdf' round_id=round.id%}">Stiahnuť pdf</a>
        {% endif %}
        {% if round.can_submit %}
        <a class="btn btn-success" href="{% url 'round_submit_page' round_id=round.id%}">Odovzdaj riešenia</a>
        {% endif %}
        <h3>Zoznam úloh</h3>
        {% show_task_list round %}
    {% endfor %}
    <h2>Staršie zadania</h2>
    <ul>
    {% for year, round_list in other_rounds.items %}
        <li>
        <h3 class="statements-year">{{year}}. ročník</h3>
        <ul>
        {% for round in round_list %}
            <li><a href="{% url 'task_list' round_id=round.id %}">{{round.number}}. kolo</a></li>
        {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
