{% extends "trojsten/layout/main.html" %}
{% load statements_parts %}

{% block page_header %}
<h1>Aktuálne zadania</h1>
{% endblock %}

{% block page_content %}
    {% for competition, round in rounds.items %}
        <h2>{{competition}} - {{round.number}}. kolo</h2>
        {% show_buttons round %}
        <h3>Zoznam úloh</h3>
        {% show_task_list round %}
    {% endfor %}
    <h2>Všetky zadania</h2>
    <ul>
    {% for year, round_list in all_rounds.items %}
        <li>
        <h3 class="statements-year">{{year}}. ročník</h3>
        <ul>
        {% for round in round_list %}
            <li><a href="{% url 'task_list' round_id=round.id %}">{{round.number}}. kolo</a></li>
        {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
