{% extends "trojsten/layout/main.html" %}
{% load statements_parts %}

{% block page_header %}
<h1>Aktuálne zadania</h1>
{% endblock %}

{% block page_content %}
    {% for competition, round in rounds.items %}
        <h2>{{competition}} <small>{{round}} {% if not round.visible %}<span class="label label-danger">skryté</span>{% endif %}</small></h2>
        {% show_buttons round %}
        <h3>Zoznam úloh</h3>
        {% show_task_list round %}
    {% endfor %}
    <h2>Všetky zadania</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% for competition in competitions %}
            <li {% if forloop.first %}class="active"{%endif%}><a href="#competition-tab-{{competition.name}}" role="tab" data-toggle="tab">{{competition.name}}</a></li>
        {% endfor %}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        {% for competition in competitions %}
            <div class="tab-pane fade {% if forloop.first %}in active{%endif%}" id="competition-tab-{{competition.name}}">{% show_round_list user=request.user competition=competition%}</div>
        {% endfor %}
    </div>
{% endblock %}
