{% extends "wiki/base.html" %}
{% load wiki_tags i18n humanize %}


{% block wiki_pagetitle %}{% trans "Search results for:" %} {{ query }}{% endblock %}

{% block wiki_contents %}

<h1 class="page-header">{% trans "Search results for:" %} {{ query }}</h1>

<form class="form-search directory-toolbar">
    <p class="lead">
    <div class="pull-right">
        <div class="input-group">
            <input type="search" class="form-control search-query" name="q" value="{{ query }}"/>
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="fa fa-search"></span>
        </button>
      </span>
        </div>
    </div>
    <p>Nájdených <strong>{{ cnt }}</strong> výskytov.</p>
    <div class="clearfix"></div>
    </p>
</form>

<table class="table table-striped">
    <tr>
        <th style="width: 75%">{% trans "Title" %}</th>
        <th>{% trans "Last modified" %}</th>
    </tr>
    {% for result in page.object_list %}
    <tr>
        <td>
            <a href="{% url 'wiki:get' path=result.urlpath %}">{{ result.title }}<br/>
                <small class="muted">/{{ result.urlpath }}</small>
            </a>
            {% if result.deleted %}
            <span class="fa fa-trash"></span>
            {% endif %}
            {% if result.locked %}
            <span class="fa fa-lock"></span>
            {% endif %}
            <p class="muted">
                <small>{{ result.content|get_content_snippet:query }}</small>
            </p>
        </td>
        <td style="white-space: nowrap">
            {{ result.modified|naturaltime }}
        </td>
    </tr>
    {% empty%}
    <tr>
        <td colspan="100">
            <em>{% trans "There are no articles in this level" %}</em>
        </td>
    </tr>
    {% endfor %}
</table>

{% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Predchádzajúca{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Nasledujúca &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
{% endif %}

{% endblock %}

