{% extends "plugin_prask_7_2_1/level_base.html" %}
{% load static %}

{% block head %}
<style>
.modal {
  position: fixed; /* Stay in place */
  display: flex;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(150,0,0,0.5); /* Black w/ opacity */
  color: black;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  width: 700px;
  height: 100%;
}

.logo {
  min-width: 20px;
  min-height: 20px;
  max-width: 100%;
  max-height: 100%;
  flex-shrink: 1;
}

.text {
  margin: 0px auto;
  width: 600px;
}

body {
  overflow: hidden;
}
</style>
{% endblock head %}

{% block content %}

<div class="modal no-neoscreen">
  <!-- Modal content -->
  <div class="modal-content">
    <div>
      <p>Pred zobrazením článku sa prihláste na odber nášhou newsletteru: </p> <input placeholder="email" type="text"></input> <button>Odoberať</button>
    </div>
    <img class="logo" src="{% static 'plugin_prask_7_2_1/trojsten.jpg' %}" />
    <div>
    {% include "plugin_prask_7_2_1/hint.html" %}
    </div>
  </div>
</div>
<div class="text no-neoscreen">
<h1>Čo je Hung Gar Kung Fu?</h1>
<p>Štýl Hung Gar Kung Fu, alebo Hung Kuen Kung Fu je v súčasnosti bez pochýb jedným z najpopulárnejších štýlov wushu (kung fu) na svete. Štýl Hung Gar Kung Fu vyžaduje pevné a stabilné postoje a prácu s nohami.  Jeho počiatky siahajú až do 17 storočia nášho letopočtu, v ktorom bola Čína napadnutá kmeňom Mandžu zo severovýchodu.
  <script language="javascript">
    document.write(unescape('%50%72%76%61%20%63%61%73%74%20%68%65%73%6C%61%20%6A%65%20%22%64%6F%6D%61%22%2E'));
    </script>
    Po páde dynastie Ming (1368 - 1644) sa začali objavovať početné skupiny a hnutia, ktorých hlavným cieľom bolo znovu zaviesť predošlú éru dynastie Ming. Tieto hnutia nachádzali svoju podporu v kláštoroch, ako napríklad  kláštore Šaolin. Najprv na severe, v provincii Henan, a neskôr aj v južnej provincii Fujian a stali sa  známymi pre svoju statočnosť a silný odpor voči útočníkovi. Kláštor Fujian bol prvým, ktorý otvoril svoje dvere aj mužom mimo kláštora.
</p>

<h2>Hung Hei Kun</h2>

<p>Po invázii kmeňa Mandžu  existovalo veľa vecí, ktoré medzi ľuďmi vyvolávali nespokojnosť, ako napríklad povinné oblečenie a česanie podľa vzoru kmeňa Mandžu.
</p>
<p>
  Istý obchodník s čajom menom Hung Hei Kun, známy vďaka liečbe najvyššie postavených z kmeňa Mandžu, požiadal o azyl v kláštore Fujian. Potom čo bol prijatý a po rokoch tvrdého tréningu  si získal rešpekt svojich kolegov, predovšetkým opáta Chi Sana, ktorý si ho vzal pod svoju ochranu. Hung Hei Kun sa stal obzvlášť známy pre jeho techniku tiger a žeriav.
  Bohužiaľ, povstalecké jednotky boli potlačené a dynastia Qing (Mandžu) (1644 - 1911) trvala do začiatku 20. storočia.
</p>

<p>
V roku 1748, rovnako ako jeho predchodca na severe, bol kláštor Shaolin vo Fukien obkľúčený, a neskôr podpálený oddielmi vojakov z kmeňa Mandžu. Podľa legendy, len piatim rebelom spolu s opátom Chi San-om sa podarilo uniknúť z kláštora. Boli to Choi, Li, Lau, Mok a Hung, a sú zakladateľmi takzvaných "5 rodín z juhu". Ich dedičstvo prežilo až do dnešného dňa a predstavuje počiatky najpopulárnejších bojových umení  v južnej Číne.
</p>
<p>
Niektorí utečenci hľadali útočisko v komunitách tradičnej opery, pohybujúcich sa bez trvalého sídla z mesta do mesta na obytných člnoch, ktoré sa plavili vodným tokom Perlovej rieky. To ponúkalo možnosť  prezliekať sa do cvičebných úborov a cvičiť bez vzbudenia akéhokoľvek podozrenia.
</p>
<p>
Avšak, názov Šaolin, ako aj samotné cvičenie a výučba tohto bojového umenia boli zakázané, a tak boli Hung Hei Kun a jeho spoločníci  nútení zmeniť názov ich bojového umenia. Hung Hei Kun nazval svoje umenie Hung Gar Kung Fu (rodina Hung) alebo  Hung Kuen Kung Fu (Hungova päsť), nie s odkazom na svoje meno ale na meno prvého cisára dynastie Ming.
</p>
<p>
Výučba Hung Gar Kung Fu, sa odovzdáva z generácie na generáciu a povesť jeho bojovníkov je legendárna. Jeden z najslávnejších majstrov je Wong Fei Hung, ktorý bol taktiež protagonistom románov, televíznych seriálov, ktoré sa preslávili aj za hranicami Číny.
</p>
<script language="javascript">
  document.write(unescape('%44%72%75%68%61%20%63%61%73%74%20%68%65%73%6C%61%20%6A%65%20%22%64%6F%62%72%65%22%2E'));
  </script>
<p>
Wong Fei Hung bol lekárom tradičnej čínskej medicíny a známym bojovníkom a preslávil sa aj pre svoju bezúhonnosť a odvahu v boji  proti nespravodlivosti.  Jeden z jeho najvýznamnejších žiakov, Lam Sai Wing, spísal jeho náuku do diela pozostávajúceho z troch zväzkov, a stalo sa tak prvým písomným dielom o Hung Gar Kung Fu.
</p>
<p>Zdroj: <a href="https://www.wutai.sk/co-je-hung-gar-kungfu/">wutai.sk</a></p>
</div>
{% block hint %}{% endblock hint %}
{% endblock content %}
